USE [master]
GO
/****** Object:  Database [TheUserManagement]    Script Date: 11/21/2019 5:20:24 PM ******/
CREATE DATABASE [TheUserManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TheUserManagement', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TheUserManagement.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TheUserManagement_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TheUserManagement_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TheUserManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TheUserManagement]
GO
/****** Object:  Table [dbo].[AccountTable]    Script Date: 11/21/2019 5:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountTable](
	[UserID] [varchar](50) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Role] [int] NOT NULL,
	[Available] [bit] NOT NULL,
 CONSTRAINT [PK_AccountTable] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PromotionTable]    Script Date: 11/21/2019 5:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PromotionTable](
	[UserID] [varchar](50) NOT NULL,
	[Rank] [float] NOT NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_PromotionTable] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleTable]    Script Date: 11/21/2019 5:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleTable](
	[Role] [int] NOT NULL,
	[Description] [varchar](60) NOT NULL,
 CONSTRAINT [PK_RoleTable] PRIMARY KEY CLUSTERED 
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 11/21/2019 5:20:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTable](
	[UserID] [varchar](50) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Picture] [varchar](max) NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AccountTable] ([UserID], [Password], [Role], [Available]) VALUES (N'duchiep', N'123', 1, 1)
INSERT [dbo].[AccountTable] ([UserID], [Password], [Role], [Available]) VALUES (N'gia', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 1, 1)
INSERT [dbo].[AccountTable] ([UserID], [Password], [Role], [Available]) VALUES (N'hong', N'b9962ad7142132a95e7dcdd511a6d26d45a5e6af5821ccf9872855a025d069b2', 1, 1)
INSERT [dbo].[RoleTable] ([Role], [Description]) VALUES (1, N'admin')
INSERT [dbo].[RoleTable] ([Role], [Description]) VALUES (2, N'sub')
ALTER TABLE [dbo].[AccountTable]  WITH CHECK ADD  CONSTRAINT [FK_AccountTable_RoleTable] FOREIGN KEY([Role])
REFERENCES [dbo].[RoleTable] ([Role])
GO
ALTER TABLE [dbo].[AccountTable] CHECK CONSTRAINT [FK_AccountTable_RoleTable]
GO
ALTER TABLE [dbo].[AccountTable]  WITH CHECK ADD  CONSTRAINT [FK_AccountTable_UserTable] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserTable] ([UserID])
GO
ALTER TABLE [dbo].[AccountTable] CHECK CONSTRAINT [FK_AccountTable_UserTable]
GO
ALTER TABLE [dbo].[PromotionTable]  WITH CHECK ADD  CONSTRAINT [FK_PromotionTable_UserTable] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserTable] ([UserID])
GO
ALTER TABLE [dbo].[PromotionTable] CHECK CONSTRAINT [FK_PromotionTable_UserTable]
GO
USE [master]
GO
